@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@layer base {
    html {
        font-family: "Pretendard", system-ui, -apple-system, "Segoe UI", Roboto,
            "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    }
}
